<h1 id="login-message">Anmeldung</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    <mat-form-field>
        <input matInput id="email-login-input" type="email" formControlName="email" placeholder="EMail">
    </mat-form-field>
    <mat-form-field>
        <input matInput id="password-login-input" type="password" formControlName="password" placeholder="Kennwort">
    </mat-form-field>
    <button mat-stroked-button id="submit-login-button" type="submit" [disabled]="!loginForm.valid">Anmelden</button>
</form>

<p>
    Oder anmelden mit
</p>

<div id="oauth-login">
    <button id="login-with-google-button" mat-stroked-button (click)="onLoginWithGoogle()">Google</button>
    <!-- <button mat-stroked-button>Facebook</button> -->
</div>

<p>* Nur Mitglieder können anmelden. Neuanmeldung kann <a href="https://dachgeber.de/" target="_blank">hier</a> angetragen werden.</p>